* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section {
  display: flex;
  background: #8ecae6;
  padding: 50 0;
}

.box {
  background: #219ebc;
  border: 1px solid #146c81;
  padding: 35px;
}

.section-1 .box {
  width: 100%;
}

.section-2 {
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.section-3 {
  justify-content: space-between;
}

.section-4 {
  padding: 50px;
  height: 500px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}

.section-5 {
  flex-wrap: wrap;
}

.section-5 .box {
  width: 50%;
}
